<h1 class="text-4xl mb-3 mt-3">Log In</h1>

<%= form_with url: sign_in_path , class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" do |f| %>

	<div class="mb-4">
		<%= f.label :Email, class:"block text-gray-700 text-sm font-bold mb-2 text-xl"  %>
		<%= f.text_field :email, class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", placeholder: "steve@apple.com"  %>	
	</div>
	<div class="mb-3">
		<%= f.label :Password, class:"block text-gray-700 text-sm font-bold mb-2 text-xl"  %>
		<%= f.password_field :password, class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", placeholder: "Password"  %>	
	</div>

	<div class="mb-3">
		<%= f.submit :Submit, class:"bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
	</div>
		
<% end %>