<!DOCTYPE html>
<html>
  <head>
    <title>Scheduler</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.tailwindcss.com"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-zinc-100">
    <%= render :partial => "shared/navbar" %>
    <div class="container mx-auto">
      <div class="mt-3">
        <%= render :partial => "shared/messages" %>  
      </div>
      <%= yield %>
    </div>
  </body>
</html>
